@import "../../assets/shared";

.tiles-tile {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;

  box-sizing: border-box;
  border: 1px solid random_pastel();

  align-items: center;
  justify-content: center;
  background: random_pastel();
}